<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nuevo usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="user">Nombre de usuario</label>
        <div class="input-group">
          <input id="user" class="form-control" placeholder="Usuario">
        </div>
      </div>
      <div class="form-group">
        <label for="correo">Correo electronico</label>
        <div class="input-group">
          <input id="correo" class="form-control" placeholder="Correo electronico">
        </div>
      </div>
      <div class="form-group">
        <label for="pass">Contraseña</label>
        <div class="input-group">
          <input id="pass" class="form-control" placeholder="Contraseña" pInputText>
          
        </div>
      </div>
      <div class="form-group">
        <label for="pass1">Confirmar contraseña</label>
        <div class="input-group">
          <input id="pass1" class="form-control" placeholder="Confirmar contraseña">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Fecha de nacimiento</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
              <img src="" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Registrarse</button>

<hr>

<pre>{{closeResult}}</pre>