<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>

<div class="container">
  <app-ejemplobootstrap></app-ejemplobootstrap>
  <app-ejemplomodal></app-ejemplomodal>
  <app-login></app-login>
</div>

